.container {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

.container p {
  font-size: 48px;
}

#button {
  position: absolute;
  left: 50%;
  top:100%;
  transform: translate(-50%);
  height: 40px;
  width: 150px;
  border-color: green;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
}
