<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
  <link rel="stylesheet" href="audio-player.component.css">
</head>
<body>

<div class="audio-player" >
  <div class="song-info">
    <img class="song-cover" id="audio-player" src="test.jpg" align="right">
    <div class="info">
      <span>Song name</span> <br>
      <a class="artist" href="http://localhost:4200/artist/id">Artist name</a>
    </div>
  </div>
  <div class="controls">

  </div>
</div>
<div class="context-menu">
  <ul class="menu" id="context-menu">
    <li class="item">Go to artist</li>
    <li class="item">Go to album</li>
    <li class="item">Copy song link</li>
    <li class="item">Save to liked tracks</li>
  </ul>
</div>
<script src="context-menu/context-menu.js"></script>
</body>
</html>
