<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="navigation.component.css">
  <title>Aboba</title>
  <base href="http://localhost:4200/"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
<div id="menu">
  <div class="domain">
    <p class="name">
      <i class='fab fa-spotify' id="logo" style='font-size:40px'></i>
      Odeyalify
    </p>
    <div class="home">
      <a routerLink="/" routerLinkActive="active"><i class="fas fa-home" style="color: white; font-size: 20px;" ></i><span class="home-text">Home</span></a>
      <br/>
    </div>
    <div class="search">
      <a routerLink="/search" routerLinkActive="active"> <i class="fas fa-search" style="color: white; font-size: 20px;"></i> <span class="search-text">Search</span></a>
      <br/>
    </div>
    <div class="library">
      <a routerLink="/library" routerLinkActive="active"> <i class="fas fa-align-justify" style="color: white; font-size:20px"></i> <span class="library-text">Your library</span></a>
      <br/>
    </div>
  </div>
  <div id="collections">
    <a routerLink="/create/playlist" routerLinkActive="active"> <i class="far fa-plus-square" style="color: white; font-size: 20px"></i> <span
      class="playlist-text">Create Playlist</span></a>
    <br/>
    <a routerLink="/collection/tracks" routerLinkActive="active"> <i class="fas fa-heart" style="color: white; font-size: 20px"></i> <span
      class="liked-tracks-text">Liked Tracks</span></a>
  </div>
  <div class="split-line">
    <hr>
  </div>
  <div class="user-playlists">
      {{getUserPlaylist()}}
  </div>
</div>
</body>
</html>
